.myBG {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 1)),
    url("../asset/img/jumbotron.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.intro {
  height: 20rem;
  display: flex;
  justify-content: end;
  align-items: end;
  text-align: center;
}

.title {
  font-size: 3rem;
  font-weight: 800;
  line-height: 1;
  text-shadow: 2px 2px black;
  letter-spacing: 0.125rem;
}

.titleTag {
  font-size: 2rem;
  padding: 1rem 0;
  font-weight: 600;
  line-height: 1;
  text-shadow: 1px 1px black;
  letter-spacing: 0.125rem;
  text-align: center;
}

.hr-white {
  max-width: 10%;
  border-radius: 3rem;
  background-color: white;
  height: 0.125rem;
  margin: 1rem auto;
  border-style: none;
}

.topGame {
  height: auto;
  background-size: cover;
  background-image: linear-gradient(
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 1)
    ),
    url("../asset/img/jumbotron 2.jpg");
}

.gameImg {
  width: 20rem;
  margin: auto;
  padding: 0.5rem;
  height: 37.5rem;
}

.gameTitle {
  height: 4.5rem;
}

.gameWrapper {
  margin: 1rem 0;
}

.editorGame {
  height: auto;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.75)),
    url("../asset/img/jumbotron 3.jpg");
  padding-top: 1.5rem;
}

a {
  text-decoration: none;
}
